/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  color: #383838;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
}

hr {
  background-color: rgb(54, 54, 54);
  padding: 10px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.bold {
  font-size: 1.5rem;
  font-weight: 700;
}

.margin-top {
  margin-top: 10vh;
}

.margin-bottom {
  margin-bottom: 10vh;
}

.margin-left {
  margin-left: 10vw;
}

.margin-right {
  margin-right: 10vw;
}

.add-btn {
  background-color: green;
  color: white;
  padding: 10px;
}

.edit-btn {
  background-color: blue;
  color: white;
  padding: 10px;
}

.delete-btn {
  background-color: transparent;
  border: none;
}

.heading-icon {
  width: 60px;
}

.index-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
}

.icon {
  font-size: 1.5rem;
}

.icon-label {
  font-size: 0.8rem;
}

.index-item {
  border: #383838 1px solid;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
}

.action-buttons {
  display: flex;
  gap: 20w;
}

.input-field {
  border: none;
  border-bottom: 1px solid #383838;
  margin-bottom: 20px;
}

.submit-btn {
  background-color: blue;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .heading-icon {
    width: 40px;
  }

  .index-heading {
    font-size: 0.7rem;
    gap: 5vw;
  }
}