<p style="color: green"><%= notice %></p>

<h1 class='margin-left'>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category do %>
      <%= render category %>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path, class: 'margin-left add-btn' %>
