<h2 class='margin-left'><%= @category.name %> > <%= @sub_category.name %> > New product</h2>

<%= render "form", product: @product, category: @category, sub_category: @sub_category %>

<br>

<div>
  <%= link_to "Back to #{@sub_category.name} products", category_sub_category_path(@category, @sub_category) %>
</div>

