<div id="<%= dom_id facebook_review %>">
  <p>
    <strong>Full name:</strong>
    <%= facebook_review.full_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= facebook_review.username %>
  </p>

  <p>
    <strong>Review text:</strong>
    <%= facebook_review.review_text %>
  </p>

</div>
