<h1>Editing facebook review</h1>

<%= render "form", facebook_review: @facebook_review %>

<br>

<div>
  <%= link_to "Show this facebook review", @facebook_review %> |
  <%= link_to "Back to facebook reviews", facebook_reviews_path %>
</div>
