<h1 class='margin-left'>New facebook review</h1>

<%= render "form", facebook_review: @facebook_review %>

<br>

<%= link_to facebook_reviews_path, class: 'column align-center' do %>
  <i class="fas fa-arrow-left icon blue"></i>
  <p class='icon-label blue'>Back to reviews</p>
<% end %>